/* src/components/LandingPage.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
    width: 550px;
    height: 300x;
  }
  
  
  
  